*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f8f5f2;
}

header{
    background:#5c3a21;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#ffd28c;
}

.banner{
    height:450px;
    background:url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1600") center/cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.banner h1{
    font-size:50px;
    margin-bottom:15px;
}

.banner p{
    font-size:22px;
    margin-bottom:25px;
}

.banner button{
    padding:15px 35px;
    border:none;
    background:#8b5e3c;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

.banner button:hover{
    background:#6e472c;
}

.destaques{
    padding:60px 8%;
}

.destaques h2{
    text-align:center;
    margin-bottom:40px;
    color:#5c3a21;
}

.cards{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:280px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    margin-top:15px;
    color:#5c3a21;
}

.card p{
    margin:15px;
    font-size:18px;
    font-weight:bold;
}

.card button{
    margin-bottom:20px;
    padding:12px 25px;
    border:none;
    background:#8b5e3c;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.card button:hover{
    background:#6e472c;
}

footer{
    background:#5c3a21;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

nav a{
    display:block;
    margin:10px 0;
}

.banner h1{
    font-size:35px;
}

}